<style type="text/css">
	  hr, hr.vertically {
            color: #b2b2b2;
            background-color: #b2b2b2;
        }

        hr {
            width: 100%;
            height: 0;
        }

        hr.vertically {
            width: 0;
            height: 100%;
        }

</style>
<div class="panel panel-default">
  <div class="panel-heading">Menu Principal</div>
  		<div class="panel-body">
  		<center>
  			<div class="row">
                        <div class="col-md-6">
	                        <div class="thumbnail">		
	                         	
	                         <img  src="img/articulos.png"  style="width:100px; height:100px;">	<br>
						      <div class="caption">						       							           					        
						       <button type="button" class="btn btn-default" id="opcion1">Articulos y proveedores</button>
						      </div>
						    </div>                        	
						</div>

						<div class="col-md-6">
							<div class="thumbnail">		
							<img data-src="holder.js/300x300" src="img/user.png"   style="width:110px; height:120px;">			      
						      <div class="caption">
						       			        
						       <button type="button" class="btn btn-default" id="opcion2">Usuarios</button>
						      </div>
						    </div>  
						</div>
			</div>
			<hr>
			 <div class="row">
                        <div class="col-md-6"> 
                        	<div class="thumbnail">	
                        	<img  src="img/inventario.png" style="width:100px; height:100px;">	<br>					      
						      <div class="caption">
						    				        		        
						       <button type="button" class="btn btn-default" id="opcion3">Calcular Cuanto y cuando Comprar</button>
						      </div>
						    </div>  

						</div>
						<div class="col-md-6">
							<div class="thumbnail">		
							<img  src="img/utilidades.png"  style="width:100px; height:100px;" >	<br>			      
						      <div class="caption">
						       							         			        
						       <button type="button" class="btn btn-default" id="opcion4">Utilidades</button>
						      </div>
						    </div>
						</div>
			</div>
		</center>
      </div>
  </div>
</div> 
