
<div class="panel panel-default">
  <div class="panel-heading">Gestionar Inventario</div>
  <div class="panel-body">
		<form class="form-signin" role="form">  
			<fieldset>
				
				<div class="row">
					<div class="col-lg-3 col-sm-3 col-xs-3">
				 		<button class="btn btn-success"   data-toggle="modal" data-target="#ModalRegistrarProducto" type="button" ><span class="glyphicon glyphicon-plus-sign"></span>  Registrar Producto</button>
				 	</div>
			 		  <div class="col-lg-9 col-sm-9 col-xs-9">
					    <div class="input-group">
					    <input type="text" class="form-control" id="tBuscarProducto" placeholder="Buscar por Codigo, Nombre, Descripcion">
					      <span class="input-group-btn">
					        <button class="btn btn-primary" type="button" id="buscarProducto"><span class="glyphicon glyphicon-search"></span> Buscar Producto</button>
					      </span>
					      
					    </div><!-- /input-group -->
			    	</div>
			    </div>
			</fieldset>
		</form>
		<div id="ListaProductos" style="padding-top: 40px;"></div>
  </div>
</div>
<div class="modal fade" id="ModalRegistrarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar Producto</h4>
      </div>
      <div class="modal-body">
      <div id="alertasRegistroProducto"></div>
        <form role="form" onsubmit="return false;">
        	<div class="form-group">
			    <label >Codigo</label>
			    <input type="text" class="form-control" id="tcodigo"  >
			  </div>
			  <div class="form-group">
			    <label >Nombre</label>
			    <input type="text" class="form-control" id="tnombre"  >
			  </div>
			  <div class="form-group">
			    <label >Descripcion</label>
			     <textarea class="form-control"  rows="4" cols="60"  id="tdescripcion" ></textarea>			    
			  </div>
			   <div class="form-group">
			    <label >Proveedor</label>
			    <input type="text" class="form-control" id="tproveedor" >
			  </div>
			  <div class="form-group">
			    <label >Costo</label>
			     <input type="text" class="form-control" id="tcosto" >
			  </div>
			    <div class="form-group">
			    <label >Observacion</label>
			   <textarea class="form-control"  rows="4" cols="60"   id="tobservacion" ></textarea>
			  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="registrar">Registrar Producto</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="EditarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Producto</h4>
      </div>
      <div class="modal-body">
      <div id="alertasEditarProducto"></div>
        <form role="form" onsubmit="return false;">
        	<div class="form-group">
			    <label >Codigo</label>
			    <input type="text" class="form-control" id="tcodigo2"   disabled>
			  </div>
			  <div class="form-group">
			    <label >Nombre</label>
			    <input type="text" class="form-control" id="tnombre2"  >
			  </div>
			  <div class="form-group">
			    <label >Descripcion</label>
			     <textarea class="form-control"  rows="4" cols="60"  id="tdescripcion2" ></textarea>			    
			  </div>
			   <div class="form-group">
			    <label >Proveedor</label>
			    <input type="text" class="form-control" id="tproveedor2"  >
			  </div>
			  <div class="form-group">
			    <label >Costo</label>
			     <input type="text" class="form-control" id="tcosto2"  >
			  </div>
			    <div class="form-group">
			    <label >Observacion</label>
			   <textarea class="form-control"  rows="4" cols="60"   id="tobservacion2" ></textarea>
			  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>  Cancelar</button>
        <button type="button" class="btn btn-primary actualizarProducto" ><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalEliminarProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Producto</h4>
      </div>
      <div class="modal-body">
      <div id="alertasEliminarUsuario">
     	<h3>¿Esta Seguro de eliminar este Producto?</h3>
        
      </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary EliminarProducto2" >Si </button>
      </div>
    </div>
  </div>
</div>

