<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Proveedor
            <!-- <small>Subheading</small> -->
        }
        </h1>
        <ol class="breadcrumb">
            <li><a href="panel.php">Inicio</a>
            </li>
            <li class="active">Proveedor</li>
        </ol>
    </div>
</div>

<div class="container">
    <ul class="nav nav-pills">
       <li><a href="#"> Insertar</a></li>
       <li><a href="#"> Consultar</a></li>
       <li><a href="#"> Modificar</a></li>
       <li><a href="#"> Eliminar</a></li>
       <li><a href="#"> Cerrar sesion</a></li>   
    </ul>
</div>