

<div class="panel panel-default">
  <div class="panel-heading">Gestionar Usuario</div>
  <div class="panel-body">

	  <form class="form-signin" role="form">  
		<fieldset>
			<legend> <h1></h1></legend>	
			 <div class="row">
			 	<div class="col-lg-3 col-sm-3 col-xs-3">
			 		<button class="btn btn-success"  data-toggle="modal" data-target="#ModalRegistrarUsuario" type="button" ><span class="glyphicon glyphicon-plus-sign"></span>   Crear Usuario</button>
			 	</div>
		 		 <div class="col-lg-9 col-sm-9 col-xs-9">
				    <div class="input-group">
				    <input type="text" class="form-control" id="tBuscarUsuario" placeholder="Buscar por Nombre, Apellido, Correo">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" id="buscar" ><span class="glyphicon glyphicon-search"></span>  Buscar Usuario</button>
				      </span>			      
				    </div><!-- /input-group -->
		    	</div>
		    </div>
		</fieldset>
	</form>


	<div id="Listausuarios" style="padding-top: 40px;">

	</div>
  </div>
</div>





<div class="modal fade" id="ModalRegistrarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar Usuario</h4>
      </div>
      <div class="modal-body">
      <div id="alertasRegistroUsuario"></div>
        <form role="form" onsubmit="return false;">
        	<div class="form-group">
			    <label >Nombre</label>
			    <input type="text" class="form-control" id="tnombre" >
			  </div>
			  <div class="form-group">
			    <label >Apellido</label>
			    <input type="text" class="form-control" id="tapellido" >
			  </div>
			  <div class="form-group">
			    <label >Correo</label>
			    <input type="text" class="form-control" id="tcorreo" >
			  </div>
			   <div class="form-group">
			    <label >Contraseña</label>
			    <input type="text" class="form-control" id="tpass" >
			  </div>
			  <div class="form-group">
			    <label >Cargo</label>
			    <select class="form-control" id="cargo">    
				    <option value="Gerente">Gerente</option>
				    <option value="Administrador">Administrador</option>
			    </select>
			  </div>
			    <div class="form-group">
			    <label >Privilegio</label>
			    <select class="form-control" id="privilegio">    
				    <option value="1">Habilitado</option>
				    <option value="0">Deshabilitado</option>
			    </select>
			  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="registrar">Registrar Usuario</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
      </div>
      <div class="modal-body">
      <div id="alertasEliminarUsuario">
     	<h3>¿Esta Seguro de eliminar este usuario?</h3>
        
      </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary EliminarUsuario2" >Si </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="EditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
      </div>
      <div class="modal-body">
      <div id="alertasEditarUsuario"></div>
        <form role="form" onsubmit="return false;">
        	<div class="form-group">
			    <label >Nombre</label>
			    <input type="text" class="form-control" id="tnombre2" >
			  </div>
			  <div class="form-group">
			    <label >Apellido</label>
			    <input type="text" class="form-control" id="tapellido2"  >
			  </div>
			  <div class="form-group">
			    <label >Correo</label>
			    <input type="text" class="form-control" id="tcorreo2"   disabled>
			  </div>
			   <div class="form-group">
			    <label >Contraseña</label>
			    <input type="text" class="form-control" id="tpass2" >
			  </div>
			  <div class="form-group">
			    <label >Cargo</label>
			    <select class="form-control" id="cargo2">    
				    <option value="Gerente">Gerente</option>
				    <option value="Administrador">Administrador</option>
			    </select>
			  </div>
			    <div class="form-group">
			    <label >Privilegio</label>
			    <select class="form-control" id="privilegio2">    
				    <option value="1">Habilitado</option>
				    <option value="0">Deshabilitado</option>
			    </select>
			  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>  Cancelar</button>
        <button type="button" class="btn btn-primary actualizarusuario"> <span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
      </div>
    </div>
  </div>
</div>



<!--  <a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
   -->
  <!-- Generated markup by the plugin -->
<!--   <div class="tooltip top" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
     Some tooltip text!
    </div>
 </div> -->